# docker-compose.yml
version: '3.8'

services:
  trackly:
    image: 7eventy7/trackly
    ports:
      - "11888:11888"  # Main application port
    volumes:
      - ${MUSIC_PATH:-./music}:/music:ro  # Read-only mount of music directory
      - ${DATA_PATH:-./data}:/data  # Persistent storage directory
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro  # Mount nginx configuration
    environment:
      - UPDATE_INTERVAL=0 0 * * *  # Set this to your desired cron schedule
      - DISCORD_WEBHOOK=  # Set this to your discord webhook url for embeds
      - DISCORD_ROLE=  # Set this to your discord role id number to ping
      - NOTIFY_ON_SCAN=false  # Set to receive notifications for each scan completion
      - DISCORD_NOTIFY=true  # Set to false to disable discord notifications during scan
    restart: unless-stopped
    container_name: trackly
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:11888/"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 5s
